<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page
        <select name="dropdownLst" ng-model="pSize" ng-change="updateSize()">
            <!-- select how many items should be displayed per page -->
            <option>10</option>
            <option selected="selected">20</option> <!-- default option on first load should be 20 -->
            <option>30</option>
            <option>all</option> <!-- disregard pagination: show all the items -->
        </select>
    </div>
    <div>
        <button ng-click="first()">&lt;&lt;</button> <!-- 'go to first page' button -->
        <button ng-click="goto(curPage-1)">&lt;</button> <!-- 'go to previous page' button: can't go lower than 1 -->
        
        Page <input type="number" min="1" ng-model="curPage" ng-enter="goto(curPage)" /> <!-- input to select page to go to: go to page when input changes value --> of {{totalPage}} <!-- number of pages -->

        <button ng-click="goto(curPage+1)">&gt;</button> <!-- 'go to next page' button: can't go higher than last page number -->
        <button ng-click="last()">&gt;&gt;</button> <!-- 'go to last page' button -->
    </div>
    <div>
        <span>total count : {{todos.length}}</span> <!-- total number of items -->
    </div>

</div>